.Home {
    width: 100%;
    display: flex;
}
.Home-leftside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    text-align: center;
}

.Home-h1 {
    font-size: 5vw;
}

.Home-p{
    width: 60%;
}

.Home-rightside {
    width: 50%;
    display: flex;
}

.Home-h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    margin-bottom: 15px;
    font-weight: 400;

}

.Home-result{
    font-weight: bolder;
    font-size: 3.5vw;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.Home-resultText{
    margin-top: 0;
   
}