.CalculatorForm{
    background-color: #f57d34;
    padding: 70px 80px 0;
    width: 100%;
}

.CalculatorForm-button{
    flex-grow: 0;
    transform: skew(-15deg);
    height: 40px;
    width: 200px;
    margin-left: auto;
    margin-top: 20px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    background-color: #000000;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
    border: 0;
    
}

.CalculateButton-label{
    transform: skew(15deg);
}

.CalculatorForm-h4{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 400;
}

.CalculatorForm-container{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.CalculatorForm-textinput{
    flex-grow: 1;
    margin-right: 10px;
    height: 20px;
    padding: 10px;
    border: 1px solid #dc661c;
    background-color: #f57d34;
    border-radius: 25px;
    width: 100px;
    color:#983d05;
}

.CalculatorForm-activityLevelText{
    color:#fff
}

.CalculatorForm-textinput:focus{
    background-color: #fff;
    outline: none;
}

::placeholder {
    color: #c1510d
}

hr{
    flex-grow: 1;
    height: 0px;
    /* background-color: #dc661c; */
    /* color: #dc661c; */
    border-top: 1px solid #dc661c;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin: 15px 0 0 0;
}