.RadioButton {
    display: flex;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default radio button */
  .RadioButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .RadioButton-label{
    font-size: 13px;
    color: #983d05;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }

  .RadioButton-label.active{
    color: #fff;
  }
  
  /* Create a custom radio button */
  .RadioButton-checkmark {
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #dc661c;
  }
  
  /* On mouse-over, add a grey background color */
  .RadioButton:hover input ~ .RadioButton-checkmark {
    background-color: #dc661c;
  }

  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .RadioButton-checkmark:after {
    content: "";
    margin: 5px auto;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .RadioButton input:checked ~ .RadioButton-checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .RadioButton .RadioButton-checkmark:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);

  }